.container {
  width: 100%;
  max-width: $grid-container-width;
  margin-right: auto;
  margin-left: auto;

  &--fluid {
    max-width: auto;
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
  margin-left: $grid-gutter / -2;
  margin-right: $grid-gutter / -2;
}
.col {
  padding-left: $grid-gutter / 2;
  padding-right: $grid-gutter / 2;
  max-width: 100%;

  @include special-columns;
  
  @for $col-index from 1 through $grid-cols {
    $fraction: $col-index / $grid-cols;
    @include fraction-columns($col-index);
  }
  
  @each $breakpoint-name, $breakpoint-width in $breakpoints {
    @include media-up($breakpoint-width) {
      &-#{$breakpoint-name} {

        @include special-columns;
        
        @for $col-index from 1 through $grid-cols {
          @include fraction-columns($col-index);
        }
      }
    }
  }
}
[class*="col-"] {
  @extend .col;
}
